<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../templates/seo', { header: header }); %>
</head>
<body>
    <%- include('../templates/background-floating'); %>
    <%- include('../templates/header', { person: 'John' }); %>
</body>
</html>