<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Q0p9T58Q3qt7sLl5v3H_qJqokTE4bdFH6t9o-kqagHk" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-74G58FWRVF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){ dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-74G58FWRVF');
    </script>

    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script>
        window.OneSignalDeferred = window.OneSignalDeferred || [];
        OneSignalDeferred.push(function(OneSignal) {
            OneSignal.init({
            appId: "d9e620f4-4c6e-422b-bf46-5faa2e22f0a3",
            safari_web_id: "web.onesignal.auto.5e769637-3ad0-4829-bde6-e4b31d264ae2",
            notifyButton: {
                enable: true,
            },
            });
        });
    </script>

    <!-- title -->
    <title><%= title %></title>
    <meta property="og:title" content="<%= title %>" >
    <meta name="twitter:title" content="<%= title %>"/>
    <meta property="og:site_name" content="<%= title %>"/>
    <meta name="author" content="Leat Sophat">

    <!-- description -->
    <meta name="robots" content="follow, index"/>
    <meta name="description" content="<%= detail %>"/>
    <meta property="og:description" content="<%= detail %>"/>
    <meta name="twitter:description" content="<%= detail %>"/>

    <!-- share link -->
    <link rel="canonical" href="<%= link %>"/>
    <meta property="og:url" content="<%= link %>"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://twitter.com/infoSophat" />

    <link rel="alternate" type="application/rss+xml" title="<%= title %> Feed" href="/feed.xml" />

    <!-- cover -->
    <meta property="og:image" content="<%= cover %>"/>
    <meta name="twitter:image" content="<%= cover %>"/>

    <link rel="apple-touch-icon" sizes="76x76" href="<%= appleTouchIcon %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= icon16x16 %>" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= icon32x32 %>" />

    <link rel="stylesheet" href="<%= style %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Suwannaphum:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://pphatdev.github.io/fonts/style.css" rel="stylesheet">
</head>

<body class="dark:bg-slate-950">
    <div class="!fixed area">
        <ul class="circles"> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li></ul>
    </div>
    <svg class="absolute mt-4 pointer-events-none inset-0 h-full w-full stroke-gray-300 dark:stroke-gray-800 opacity-50 [mask-image:radial-gradient(100%_100%_at_top_center,white,transparent)]" aria-hidden="true">
        <defs>
            <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                <path d="M100 200V.5M.5 .5H200" fill="none"></path>
            </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50 dark:fill-slate-800">
            <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0"></path>
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)"></rect>
    </svg>
    <header id="header" class="sticky top-0 z-20 w-full scroll-smooth backdrop-blur-sm dark:bg-white/5 bg-white/50"></header>

    <div data-sidebar-backdrop class="fixed inset-0 z-50 hidden w-full h-full bg-white/70 dark:block/20 backdrop-blur-sm"></div>
        <div data-sidebar-target class="fixed z-50 hidden w-full max-w-xs p-6 text-base font-semibold -translate-x-1/2 bg-white rounded-lg shadow-lg top-4 left-1/2 text-slate-900 dark:bg-slate-800 dark:text-slate-400 dark:highlight-white/5">
            <button type="button" data-sidebar-toggle class="absolute flex items-center justify-center w-8 h-8 top-5 right-5 text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300" tabindex="0">
                <span class="sr-only">Close navigation</span>
                <svg viewBox="0 0 10 10" class="w-2.5 h-2.5 overflow-visible" aria-hidden="true">
                    <path d="M0 0L10 10M10 0L0 10" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                </svg>
            </button>
            <ul class="space-y-6" id="menu"></ul>
            <div class="mt-5 text-center">
                <button data-theme-toggle class="px-3 py-1 mx-auto mt-10 text-sm transition-colors border rounded-full sm:mt-0 border-stone-200 drop-shadow-sm text-stone-800 dark:text-white bg-white/40 dark:bg-black/20 backdrop-blur-lg hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-400">🌞</button>
            </div>
        </div>
    </div>

    <div class="relative flex flex-col items-center justify-center -mt-20 h-28 min-h-[10rem]">
        <div class="fixed inset-0 overflow-hidden -z-10">
            <div class="jumbo fixed -inset-[10px] opacity-50"></div>
        </div>
    </div>

    <section>
        <div class="bg-transparent md:py-10">
            <h1 class="text-2xl font-bold text-center uppercase dark:text-white md:text-5xl">About <span class="text-primary">Me</span> </h1>
            <h2 class="mt-5 font-medium text-center text-2x dark:text-white/90">About my background </h2>
            <div class="py-4 mx-auto my-5 text-xs font-normal text-center text-gray-800 sm:text-sm lg:max-w-xl md:text-lg dark:text-primary-600 font-body">
                <p>I am Leat <span class="font-bold text-primary">Sophat</span>.</p>
                <p>I'm a Senior Front-end Developer as <a aria-label="TURBOTECH CO.,LTD" href="https://turbotech.com/">TURBOTECH CO.,LTD</a>.</p>
                <p>I from Phnome Penh, <a aria-label="Cambodia" href="https://www.google.com/maps/place/Cambodia/@12.1454395,104.9806145,7z/data=!3m1!4b1!4m6!3m5!1s0x310787bfd4dc3743:0xe4b7bfe089f41253!8m2!3d12.565679!4d104.990963!16zL20vMDF4Ymd4?entry=ttu"> Cambodia</a>.</p>
                <p>I was born in October 2001 at <a href="https://en.wikipedia.org/wiki/Prey_Veng_province"> Prey Veng</a> Province.</p>
                <p>I'm studying first year of Computer Science at <a href="https://cus.edu.kh/">Cambodian University for Specialties</a> call CUS.</p>
            </div>
            <h1 class="text-5xl leading-none text-center md:text-7xl dark:text-white/70 font-tacteng">3</h1>
        </div>
    </section>

    <div class="w-full">
        <div class="max-w-4xl p-4 mx-auto">
            <h1 class="py-5 text-xl font-bold text-center md:text-3xl dark:text-white">Timeline</h1>
            <ul id="summary" class="flex flex-col gap-5"></ul>
        </div>
    </div>

</body>
</html>