<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- title -->
    <title><%= title %></title>
    <meta property="og:title" content="<%= title %>" >
    <meta name="twitter:title" content="<%= title %>"/>
    <meta property="og:site_name" content="<%= title %>"/>

    <!-- description -->
    <meta name="robots" content="follow, index"/>
    <meta name="description" content="<%= detail %>"/>
    <meta property="og:description" content="<%= detail %>"/>
    <meta name="twitter:description" content="<%= detail %>"/>

    <!-- share link -->
    <link rel="canonical" href="<%= link %>"/>
    <meta property="og:url" content="<%= link %>"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://twitter.com/infoSophat" />

    <!-- cover -->
    <meta property="og:image" content="<%= cover %>"/>
    <meta name="twitter:image" content="<%= cover %>"/>

    <link rel="apple-touch-icon" sizes="76x76" href="<%= appleTouchIcon %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= icon16x16 %>" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= icon32x32 %>" />

    <link rel="stylesheet" href="<%= style %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://pphatdev.github.io/fonts/style.css" rel="stylesheet">
</head>

<body class="dark:bg-slate-950 snap-proximity snap-y scroll-smooth focus-within:scroll-smooth">
    <header id="header" class="sticky top-0 z-20 w-full scroll-smooth backdrop-blur-sm dark:bg-white/5 bg-white/50"></header>

    <div data-sidebar-backdrop class="fixed inset-0 z-50 hidden w-full h-full bg-white/70 dark:block/20 backdrop-blur-sm"></div>
        <div data-sidebar-target class="fixed z-50 hidden w-full max-w-xs p-6 text-base font-semibold -translate-x-1/2 bg-white rounded-lg shadow-lg top-4 left-1/2 text-slate-900 dark:bg-slate-800 dark:text-slate-400 dark:highlight-white/5">
            <button type="button" data-sidebar-toggle class="absolute flex items-center justify-center w-8 h-8 top-5 right-5 text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300" tabindex="0">
                <span class="sr-only">Close navigation</span>
                <svg viewBox="0 0 10 10" class="w-2.5 h-2.5 overflow-visible" aria-hidden="true">
                    <path d="M0 0L10 10M10 0L0 10" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                </svg>
            </button>
            <ul class="space-y-6">
                <li><a class="hover:text-primary-500 dark:hover:text-primary-400" href="/">Home</a></li>
                <li><a class="hover:text-primary-500 dark:hover:text-primary-400" href="/project">Projects</a></li>
                <li><a href="/contact" class="hover:text-primary-500 dark:hover:text-primary-400">Contact</a></li>
                <li><a class="hover:text-primary-500 dark:hover:text-primary-400" href="/about-me">About Me</a></li>
                <li><a class="hover:text-primary-500 dark:hover:text-primary-400" href="https://blog.leatsophat.me/?ref=top">Blog</a></li>
            </ul>
            <div class="mt-5 text-center">
                <button data-toggle class="px-3 py-1 mx-auto text-sm transition-colors border rounded-full border-stone-200 drop-shadow-sm text-stone-800 dark:text-white bg-white/40 dark:bg-black/20 backdrop-blur-lg hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-400">🌞</button>
            </div>
        </div>
    </div>

    <div class="relative dark:bg-slate-950 snap-center h-[calc(100vh_+2rem)] min-h-[50rem] sm:h-[calc(100vh_+8px)]">
        <div class="relative flex flex-col items-center justify-center h-[calc(100vh_+2rem)] sm:h-[calc(100vh_+8px)] -mt-20 dark:bg-slate-950 transition-bg">
            <div class="absolute inset-0 overflow-hidden">
                <div class="jumbo absolute -inset-[10px] opacity-50"></div>
            </div>
            <div class="flex flex-col items-center justify-center w-full max-w-6xl px-4 pt-10 mx-auto text-center sm:flex-col gap-7 md:pt-0 md:items-start md:justify-between md:flex-row">
                <h1 class="md:hidden leading-[0] text-center text-[6rem] font-tacteng">0</h1>
                <div class="block">
                    <h1 class="relative text-4xl font-bold leading-tight text-gray-800 break-words transition-colors sm:text-left md:text-6xl font-poppins sm:flex-row dark:text-white dark:opacity-80">
                        Hello I'm LEAT <span class="font-black text-primary-600">Sophat</span>
                    </h1>
                    <h1 class="relative mt-3 text-2xl font-bold text-gray-800 break-words transition-colors sm:text-left md:text-3xl font-poppins sm:flex-row dark:text-white dark:opacity-80">
                        Senior Front-end Developer
                    </h1>
                    <p class="max-w-md py-4 mt-5 text-sm font-normal lg:max-w-xl md:text-lg sm:text-left dark:text-primary-600 text-slate-600 font-body">
                        Welcome to my portfolio - Thoughts from a wandering mind. I am the senior front-end developer of TurboTech, and an UI/UX designer. In my free time, I like design side projects and developing them.
                    </p>
                    <div class="flex items-center justify-center w-full gap-3 text-center sm:justify-start">
                        <button type="button" class="px-4 active:bg-primary py-1.5 text-xs sm:text-sm transition-colors border rounded-lg border-stone-200 drop-shadow-sm hover:bg-primary-800 text-white bg-primary-700 dark:bg-black/20 backdrop-blur-lg hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-400">
                            My Works
                        </button>
                        <button type="button" class="px-4 gap-2 active:bg-primary/10 flex items-center py-1.5 text-xs sm:text-sm transition-colors border rounded-lg border-stone-200 drop-shadow-sm text-stone-800 dark:text-white bg-white/40 dark:bg-black/20 backdrop-blur-lg hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-400">
                            <span>Download CV</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                            </svg>
                            <div class="absolute inset-0 items-end h-5 overflow-hidden rounded-full translate-y-7 sm:translate-y-8 group-hover:flex">
                                <div class="flex -mb-px h-[1px] w-full">
                                    <div class="w-full flex-none blur-sm [background-image:linear-gradient(90deg,rgba(56,189,248,0)_0%,#0EA5E9_32.29%,rgba(236,72,153,0.3)_67.19%,rgba(236,72,153,0)_100%)]"></div>
                                    <div class="-ml-[99%] w-full flex-none blur-[1px] [background-image:linear-gradient(90deg,rgba(56,189,248,0)_0%,#0EA5E9_32.29%,rgba(236,72,153,0.3)_67.19%,rgba(236,72,153,0)_100%)]"></div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div data-image class="z-10 flex-shrink-0 order-first md:order-last"></div>
            </div>
            <div class="absolute flex flex-col items-center bottom-7">
                <!-- <a href="#trust" class="px-3 py-1.5 text-sm transition-colors border hidden md:block rounded-full border-stone-200 drop-shadow-sm text-stone-800 dark:text-white bg-white/40 dark:bg-black/20 backdrop-blur-lg hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
                    </svg>
                </a> -->
                <h1 class="hidden mb-10 text-5xl text-center md:block font-tacteng text-primary">2</h1>
            </div>
        </div>
    </div>

    <div>
        <h1 class="text-2xl font-bold text-center uppercase md:font-semibold md:text-5xl">About Development <span class="font-bold text-primary">Skills</span> </h1>
        <h1 class="leading-none text-center text-7xl font-tacteng">3</h1>
    </div>

    <div id="trust" class="flex flex-col min-h-[45rem] gap-5 dark:bg-slate-500 snap-center">
        <div class="pt-5 my-5">
            <p class="pb-5 text-base font-medium text-center font-display text-slate-900">What I'm coding with</p>
            <ul role="list" id="languages" class="z-50 flex flex-wrap items-center justify-center max-w-5xl gap-5 mx-auto"></ul>
        </div>

        <div class="my-5">
            <p class="pb-5 text-base font-medium text-center font-display text-slate-900">What I just learnt</p>
            <ul role="list" id="frameworks" class="z-50 flex flex-wrap items-center justify-center max-w-5xl gap-5 mx-auto"></ul>
        </div>

        <div class="my-5">
            <p class="pb-5 text-base font-medium text-center font-display text-slate-900">What I styled with</p>
            <ul role="list" id="styling" class="z-50 flex flex-wrap items-center justify-center max-w-5xl gap-5 mx-auto"></ul>
        </div>

        <div class="my-5">
            <p class="pb-5 text-base font-medium text-center font-display text-slate-900">With online tools</p>
            <ul role="list" id="onlinetools" class="z-50 flex flex-wrap items-center justify-center max-w-5xl gap-5 mx-auto"></ul>
        </div>
    </div>

    <div class="relative mt-10">
        <h1 class="text-2xl font-bold text-center uppercase md:font-semibold md:text-5xl">Recent <span class="font-bold text-primary">Blogs</span> </h1>
        <h1 class="leading-none text-center text-7xl font-tacteng">3</h1>

        <div id="recentBlog" class="relative grid items-center justify-center w-full grid-cols-1 gap-5 p-5 mx-auto my-5 sm:grid-cols-2 md:grid-cols-4 max-w-7xl">
            <div class="flex items-center justify-center h-48 border text-black/20 animate-pulse rounded-xl">
                <p>Coming Soon...!</p>
            </div>
            <div class="flex items-center justify-center h-48 border text-black/20 animate-pulse rounded-xl">
                <p>Coming Soon...!</p>
            </div>
            <div class="items-center justify-center hidden h-48 border md:flex text-black/20 animate-pulse rounded-xl">
                <p>Coming Soon...!</p>
            </div>
            <div class="items-center justify-center hidden h-48 border md:flex text-black/20 animate-pulse rounded-xl">
                <p>Coming Soon...!</p>
            </div>
            <div class="absolute flex flex-col items-center -translate-x-1/2 left-1/2 -bottom-2">
                <a href="#" class="px-3 py-2 text-sm transition-colors border rounded-full border-stone-200 drop-shadow-sm text-stone-800 dark:text-white bg-white/40 dark:bg-black/20 backdrop-blur-lg hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-400">
                    <span class="text-5xl text-center font-tacteng text-primary">2</span>
                </a>
            </div>
        </div>
    </div>

    <div class="my-10">
        <h1 class="text-2xl font-bold text-center uppercase md:font-semibold md:text-5xl">Pro<span class="text-primary">jects</span> </h1>
        <h1 class="leading-none text-center text-7xl font-tacteng">3</h1>
        <div class="relative grid items-center justify-center w-full grid-cols-1 gap-5 p-5 mx-auto my-5 sm:grid-cols-2 md:grid-cols-4 max-w-7xl">
            <div class="flex items-center justify-center h-48 border text-black/20 animate-pulse rounded-xl">
                <p>Coming Soon...!</p>
            </div>
            <div class="flex items-center justify-center h-48 border text-black/20 animate-pulse rounded-xl">
                <p>Coming Soon...!</p>
            </div>
            <div class="items-center justify-center hidden h-48 border md:flex text-black/20 animate-pulse rounded-xl">
                <p>Coming Soon...!</p>
            </div>
            <div class="items-center justify-center hidden h-48 border md:flex text-black/20 animate-pulse rounded-xl">
                <p>Coming Soon...!</p>
            </div>
            <div class="absolute flex flex-col items-center -translate-x-1/2 left-1/2 -bottom-2">
                <a href="#" class="px-3 py-2 text-sm transition-colors border rounded-full border-stone-200 drop-shadow-sm text-stone-800 dark:text-white bg-white/40 dark:bg-black/20 backdrop-blur-lg hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-400">
                    <span class="text-5xl text-center font-tacteng text-primary">2</span>
                </a>
            </div>
        </div>
    </div>

</body>
</html>