<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- title -->
    <title><%= title %></title>
    <meta property="og:title" content="<%= title %>" >
    <meta name="twitter:title" content="<%= title %>"/>
    <meta property="og:site_name" content="<%= title %>"/>

    <!-- description -->
    <meta name="robots" content="follow, index"/>
    <meta name="description" content="<%= detail %>"/>
    <meta property="og:description" content="<%= detail %>"/>
    <meta name="twitter:description" content="<%= detail %>"/>

    <!-- share link -->
    <link rel="canonical" href="<%= link %>"/>
    <meta property="og:url" content="<%= link %>"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://twitter.com/infoSophat" />

    <!-- cover -->
    <meta property="og:image" content="<%= cover %>"/>
    <meta name="twitter:image" content="<%= cover %>"/>

    <link rel="apple-touch-icon" sizes="76x76" href="<%= appleTouchIcon %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= icon16x16 %>" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= icon32x32 %>" />

    <link rel="stylesheet" href="<%= style %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <!-- <div id="tsparticles"></div> -->
    <!-- <div class="fixed inset-0 z-50 flex flex-col items-center justify-center w-full h-screen gap-5">
        <h1 class="text-4xl font-bold text-teal-600 font-body">Welcome to "<%= title %>"🌈</h1>
        <h1 class="text-2xl font-bold text-teal-600"><%= title %></h1>
        <p class="text-lg font-medium text-teal-600 font-body"><%= detail %></p>
    </div> -->

    <main>
        <div class="relative flex flex-col h-[100vh] items-center justify-center bg-white dark:bg-black transition-bg">
            <div class="absolute inset-0 overflow-hidden">
                <div class="jumbo absolute -inset-[10px] opacity-50"></div>
            </div>
            <h1 class="relative text-2xl font-bold text-center text-gray-800 break-words transition-colors sm:text-5xl font-poppins sm:flex-row font-body dark:text-white dark:opacity-80">
                Hello, <span>LEAT Sophat 🌈</span>
            </h1>
            <p class="py-4 text-lg font-medium text-teal-600 font-body"><%= detail %></p>
            <div class="mt-4">
                <button data-toggle class="px-3 py-1 text-sm transition-colors border rounded-full border-stone-200 drop-shadow-sm text-stone-800 dark:text-white bg-white/40 dark:bg-black/40 backdrop-blur-lg hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-400">Toggle Theme</button>
            </div>
        </div>
    </main>
</body>
</html>