<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- title -->
    <title><%= title %></title>
    <meta property="og:title" content="<%= title %>" >
    <meta name="twitter:title" content="<%= title %>"/>
    <meta property="og:site_name" content="<%= title %>"/>

    <!-- description -->
    <meta name="robots" content="follow, index"/>
    <meta name="description" content="<%= detail %>"/>
    <meta property="og:description" content="<%= detail %>"/>
    <meta name="twitter:description" content="<%= detail %>"/>

    <!-- share link -->
    <link rel="canonical" href="<%= link %>"/>
    <meta property="og:url" content="<%= link %>"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://twitter.com/infoSophat" />

    <!-- cover -->
    <meta property="og:image" content="<%= cover %>"/>
    <meta name="twitter:image" content="<%= cover %>"/>

    <link rel="apple-touch-icon" sizes="76x76" href="<%= appleTouchIcon %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= icon16x16 %>" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= icon32x32 %>" />

    <link rel="stylesheet" href="<%= style %>">

</head>
<body>
    <div id="tsparticles"></div>
    <div class="fixed inset-0 z-50 flex flex-col items-center justify-center w-full h-screen gap-5">
        <h1 class="text-4xl font-bold text-teal-600 font-body">Welcome to "<%= title %>"🌈</h1>
        <h1 class="text-2xl font-bold text-teal-600"><%= title %></h1>
        <p class="text-lg font-medium text-teal-600 font-body"><%= detail %></p>
    </div>
    <div id="root"></div>
</body>
</html>