<section class="h-[40rem] flex items-center justify-center relative">
<div class="flex flex-col items-center justify-center w-full max-w-6xl px-4 pt-10 mx-auto text-center max-h-96 sm:flex-col gap-7 md:pt-0 md:items-start md:justify-between md:flex-row">
    <h1 class="md:hidden leading-[0] text-center text-[6rem] font-tacteng">3</h1>
    <div class="block">
        <h1 class="relative text-4xl font-bold leading-tight text-gray-800 break-words transition-colors sm:text-left md:text-6xl font-poppins sm:flex-row dark:text-white dark:opacity-80">Hello I'm LEAT <span class="font-black text-primary-600">Sophat</span>
        </h1>
        <h1 class="relative mt-3 text-2xl font-bold text-gray-800 break-words transition-colors sm:text-left md:text-3xl font-poppins sm:flex-row dark:text-white dark:opacity-80">Senior Front-end Developer</h1>
        <p class="max-w-md py-4 mt-5 text-sm font-normal lg:max-w-xl md:text-lg sm:text-left dark:text-primary-600 text-slate-600 font-body">Welcome to my portfolio - Thoughts from a wandering mind. I am the senior front-end developer of TurboTech, and an UI/UX designer. In my free time, I like design side projects and developing them.</p>
        <div class="flex items-center justify-center w-full gap-3 text-center sm:justify-start">
            <a href="/projects" class="px-4 active:bg-primary py-1.5 text-xs sm:text-sm transition-colors border rounded-lg border-stone-200 drop-shadow-sm hover:bg-primary-800 text-white bg-primary-700 dark:bg-black/20 backdrop-blur-lg hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-400">
                My Works
                <%- include('../components/elements/border-effects') %>
            </a>
            <a target="_blank" href="https://drive.google.com/file/d/18-P8vrpwnL4gukaN60jUEaA6wGFRoiep/view?usp=sharing" class="px-4 gap-2 active:bg-primary/10 flex items-center py-1.5 text-xs sm:text-sm transition-colors border rounded-lg border-stone-200 drop-shadow-sm text-stone-800 dark:text-white bg-white/40 dark:bg-black/20 backdrop-blur-lg hover:border-stone-300 dark:border-stone-500 dark:hover:border-stone-400">
                <span>Download CV</span>
                <%- include('../components/icons/download') %>
                <%- include('../components/elements/border-effects') %>
            </a>
        </div>
    </div>
    <div class="relative z-10 items-center justify-center flex-shrink-0 order-first block border-2 border-dashed animate-faded dark:border-slate-900 md:order-last">
        <div class="box w-36 rounded-full h-36 sm:w-44 md:w-64 sm:h-44 md:h-64">
            <img src="./assets/profile.png" loading="lazy" class="w-36 shrink-0 rounded-full ring-primary h-36 py-1 sm:w-44 md:w-64 sm:h-44 md:h-64" alt="Leat Sophat">
        </div>
    </div>

</div>
</section>